#location {
	border-style: solid;
	height: 120px;
}

#access {
	border-style: solid;
	height: 120px;
}

#weather {
	border-style: solid;
	height: 80px;
}

#gmap {
	border-style: solid;
	height: 300px;
}

#comment {
	border-style: solid;
	height: 150px;
}